nav {
  display: flex;
  flex-direction: column;

  padding: 10px;
  background-color: rgb(25, 25, 25);
}
.top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bottom {
  display: flex;
  justify-content: right;
  padding: 5px;
}
nav ul {
  list-style: none;
}
nav a {
  padding: 7px;
  color: white;
  text-decoration: none;
  border: 2pt solid rgb(25, 25, 25);
}

nav a:hover {
  transition: 0.3s ease;
  border: 2pt solid dodgerblue;
  border-radius: 0.25rem;
}
